<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="XMLConfigTest">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="#1 [%t] %-5level %C{1}.%M %m %ex%n"/>
        </Console>
        <Console name="STD_OUT_LITE" target="SYSTEM_OUT">
            <PatternLayout pattern="#2 [%t] %-5level %C{1}.%M %m %ex%n"/>
        </Console>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="#3 [%t] %-5level %logger{36}.%M() @%L - %msg%n"/>
        </Console>
        <RollingFile name="WroxFileAppender"
                     fileName="../logs/application.log"
                     filePattern="../logs/application-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M() @%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--		the ancestor of all Loggers-->
        <Root level="WARN" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="com.example.untitled" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="com.example.untitled.presentation" level="DEBUG" additivity="false">
            <AppenderRef ref="STD_OUT_LITE"/>
        </Logger>
        <logger name="com.example.untitled.presentation.EmployeeRestController" level="DEBUG" additivity="false">
            <appender-ref ref="WroxFileAppender"/>
            <appender-ref ref="CONSOLE">
                <MarkerFilter marker="WROX_CONSOLE" onMatch="NEUTRAL" onMismatch="DENY"/>
            </appender-ref>
        </logger>
    </Loggers>
</Configuration>